.greeting {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/IMAGE.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
}

.greeting__text {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;

  & p:first-of-type {
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 20px;
    letter-spacing: 7.2px;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;

    &.active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }

  & p:last-of-type {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1.2px;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;

    &.active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
}

.greeting__scroll {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  width: 36px;
  height: 36px;
  animation: animalLogo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;

  & svg {
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
}

@keyframes animalLogo {
  to {
    transform: translateY(5px);
  }
}


@media (max-width: 1023px) {
  .greeting__text {
    & p:first-of-type {
      font-size: 60px;
    }

    & p:last-of-type {
      font-size: 16px;
    }
  }
}

@media (max-width: 767px) {
  .greeting__text {
    & p:first-of-type {
      font-size: 40px;
      margin-bottom: 20px;
      letter-spacing: 3.2px;
    }

    & p:last-of-type {
      font-size: 16px;
      letter-spacing: 1.2px;
    }
  }
}
