.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.main-nav__item {
  margin-right: 25px;

  &:last-of-type {
    margin-right: 0;
  }

  & a {
    position: relative;
    color: #ffffff;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      width: 0px;
      height: 2px;
      background-color: #ffffff;
      bottom: -5px;
      transition: all ease .2s;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.main-nav__toggle {
  position: relative;
  display: none;
  background-color: transparent;
  background-image: url('../img/menu.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border: none;
  padding: 0;
  font-size: 0px;
  cursor: pointer;
  width: 20px;
  min-height: 18px;
  z-index: 1000;
}

.main-nav__toggle--active {
  background-image: none;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(-45deg);
  }
}

@media (max-width: 1023px) {
  .main-nav__item  {
    margin-right: 20px;

    & a {
      font-size: 14px;
    }
  }

}

@media (max-width: 767px) {
  .main-nav__list {
    display: none;
  }

  .main-nav__list--toggle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-nav__item  {
    margin-right: 0;
    margin-bottom: 15px;

    & a {
      font-size: 20px;
    }
  }

  .main-nav__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
