.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav__item {
  margin-right: 25px;

  &:last-of-type {
    margin-right: 0;
  }

  & a {
    color: #ffffff;
    text-decoration: none;
  }
}

.main-nav__toggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 0px;
  cursor: pointer;
  width: 35px;
}
