.page-header {
  padding-top: 30px;
  padding-bottom: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.page-header--scroll {
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  padding-bottom: 20px;
  padding-top: 20px;
  // & > img {
  //   filter: brightness(0) invert(1);
  // }
}


@media (max-width: 1023px) {
  .page-header {
    padding-top: 15px;
  }

  .page-header--menu {
    min-height: 100vh;
    background-color: rgba(0,0,0, 0.9);
    box-sizing: border-box;
    overflow: scroll;
  }
}
