.page-header {
  padding-top: 30px;
  padding-bottom: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__logo {
  width: 40px;

  & img {
    display: block;
  }

  & a {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    line-height: normal;
  }
}
