/* stylelint-disable */
.social-footer {
  margin-top: 22px;
}

.social-footer__item {
  &:first-of-type {
    & a {
      margin-right: 15px;
    }
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: 40px;
    height: 40px;
    transition: all ease 0.5s;

    & svg {
      height: 16px;
    }

    &:hover {
      background-color: #ffffff;
    }

    .social-footer__item:hover svg {
      & path {
        fill: #000000;
      }
    }
  }
}
