.technologies {
  overflow-x: hidden;
}

.technologies__item {
  display: flex;
  width: 100%;

  &:nth-of-type(2n) {
    & .technologies__img {
      transform: translate(120%, 0);
      order: 1;
    }

    & .technologies__text {
      transform: translate(-120%, 0);
    }
  }
}

.technologies__img {
  width: 50%;
  transform: translate(-120%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;

  & img {
    display: block;
  }
}

.technologies__text {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  transform: translate(120%, 0);
  transition: all 0.8s ease 0s;
  transition-delay: 0.2s;
}

.technologies__headline {
  max-width: 510px;
  word-break: break-word;
  font-size: 30px;
  color: #333b46;
  margin-bottom: 50px;
}

.technologies__subtitle {
  font-size: 20px;
  line-height: 25px;
  max-width: 510px;
  word-break: break-word;
}

@media (max-width: 1023px) {
  .technologies__text {
    align-items: flex-start;
    padding: 25px;
  }

  .technologies__headline {
    font-size: 25px;
  }

  .technologies__subtitle {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .technologies__item {
    flex-wrap: wrap;

    &:nth-of-type(2n) {
      & .technologies__img {
        order: 0;
      }
    }
  }

  .technologies__text {
    width: 100%;
    padding: 20px 15px;
  }

  .technologies__img {
    width: 100%;
  }

  .technologies__headline {
    font-size: 24px;
    margin-bottom: 35px;
    max-width: 100%;
  }

  .technologies__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
  }
}
