html {
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  font-size: 16px;
  background-color: #32373a;
  font-family: "Source Sans", "Arial", sans-serif;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
}

