html {
  height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
  font-size: 16px;
  background-color: #32373a;
  font-family: "Source Sans", "Arial", sans-serif;
  color: #ffffff;
}

.body--scroll {
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
}

.btnTop {
  display: flex;
  position: fixed;
  outline: none;
  bottom: -50px;
  z-index: 100;
  justify-content: center;
  align-items: center;
  right: 35px;
  cursor: pointer;
  background-color: #1F242E;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: bottom ease 0.5s, background-color ease 0.3s, opacity ease 0.2s;

  &:hover {
    background-color: #00a54f;
  }
}

.btnActive {
  opacity: 1;
  bottom: 30px;

}

@media (orientation: landscape) {
  body {
    overflow-y: scroll !important;
  }
}
